.about-company 
    margin-top: 66px
    .flex 
        margin-top: 28px
.about-company__text
    max-width: 800px
    margin-right: 77px
    p
        font-weight: normal
        font-size: 16px
        line-height: 32px
        margin-bottom: 32px
.about-company__title
    display: flex
    span
        margin-right: 61px
        color: $purple
        font-weight: 600
        font-size: 18px
        line-height: 21px
.about-company__block
    .about-company__text
        padding-left: 81px
        margin-top: 28px
        max-width: 681px
        