.maps__contact-title
    font-weight: bold
    font-size: 35px
    line-height: 42px
    color: $purple
    margin-bottom: 8px
.maps__contact-dop-title
    font-weight: normal
    font-size: 15px
    line-height: 200%
    color: $purple
    margin-bottom: 36px
.maps__adress-title--dop
    margin-bottom: 0px
.maps__contact-block
    .maps__adress-title
        display: flex
        align-items: center
        .phone, .mail
            font-weight: normal
            font-size: 16px
            line-height: 32px
.maps__contact-requisites
    margin-top: 32px
    .bold
        font-weight: bold
        font-size: 16px
        line-height: 200%
    .normal
        margin-left: 10px
        font-weight: normal
        font-size: 16px
        line-height: 200%
.contact-button
    margin-top: 49px
    display: flex
    width: 255px
    justify-content: center
    align-items: center
    background: linear-gradient(88.87deg, #565E93 2.89%, #619CF5 95.11%)
    border-radius: 5px
    height: 60px
    color: white
    svg
        margin-right: 30px
.white-popup__title
    font-weight: bold
    font-size: 35px
    line-height: 42px
    text-align: center
    margin-bottom: 5px
.white-popup__subtitle
    text-align: center
    font-weight: normal
    font-size: 18px
    line-height: 36px
    margin-bottom: 32px
.maps__pop
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    span
        margin-bottom: 14px
        input
            width: 246px
            height: 60px
            border: 3px solid #A1B2DC
            box-sizing: border-box
            border-radius: 5px
.text__1
    margin-right: 11px
.text__2
    border: 3px solid #A1B2DC
    box-sizing: border-box
    border-radius: 5px
    width: 503px
    height: 116px
    margin-bottom: 33px
.white-popup__btn
    display: flex
    justify-content: center
    align-items: center
    font-weight: 600
    font-size: 18px
    line-height: 200%
    color: white
    width: 217px
    height: 60px
    background: linear-gradient(88.87deg, #565E93 2.89%, #619CF5 95.11%)
    border-radius: 5px
    margin-bottom: 14px
.white-popup__text
    font-weight: 500
    font-size: 13px
    line-height: 151.4%
    text-align: center
    span
        text-decoration: underline