.fotter
    margin-top: 101px
    .flex, .flex-dop
        justify-content: space-between
        align-items: center
    .flex-dop
        display: flex
        margin-top: 17px
        margin-bottom: 26px
        span
            font-weight: normal
            font-size: 16px
            line-height: 32px
            color: #889BCC
        .fotter__politics
            font-weight: normal
            font-size: 16px
            line-height: 32px
            text-decoration-line: underline
            color: $black
.fotter__call
    display: flex
    flex-direction: column
    align-items: flex-end
    a
        display: flex
        align-items: center
        font-weight: 600
        font-size: 18px
        line-height: 21px
        color: $black
        img
            margin-right: 10px
    .fotter__call-text
        font-weight: 600
        font-size: 16px
        line-height: 19px
        margin-top: 15px
        color: $blue
        border-bottom: 2px solid #A1B2DC
.fotter__menu
    margin-left: 60px
.fotter-menu-btn
    display: none
#fotter-menu-state
    display: none
#fotter-menu
    li
        margin-right: 60px
        a
            font-weight: normal
            font-size: 16px
            line-height: 19px
            margin-bottom: 19px
            &:hover
                font-weight: 600
                text-decoration-line: underline
                color: $black