// main page elements
body
	font-size: 14px
	// color: $dark
	// font-family: '', sans-serif
	font-weight: 400
	background: white
	overflow-x: hidden
	// +scrollbar(10px, auto, $yellow, $gray2, $dark, null)

.page-container
	max-width: 1920px
	width: 100%
	margin: 0 auto
	overflow: hidden

.container
	max-width: 1170px
	width: 100%
	padding: 0
	margin: 0 auto
	+mq($max-width: 1200px)
		padding: 0 15px
		max-width: 100%
	+mq($max-width: 575px)
		padding: 0 10px
