.header
    display: flex
    margin-left: 81px
    margin-right: 72px
    margin-top: 29px
    justify-content: space-between
    align-items: center
.header__text
    max-width: 249px
    font-size: 13px
    line-height: 198%
.header__menu
    margin-left: 86px
    margin-right: 93px
.header__call
    display: flex
    flex-direction: column
    align-items: flex-end
    a
        display: flex
        align-items: center
        font-weight: 600
        font-size: 18px
        line-height: 21px
        color: $black
        img
            margin-right: 10px
    .header__call-text
        font-weight: 600
        font-size: 16px
        line-height: 19px
        margin-top: 15px
        color: $blue
        border-bottom: 2px solid #A1B2DC
.main-menu-btn
    display: none
#main-menu-state
    display: none
.sm-clean
    padding: 0
    background: none
    border-radius: 0px
    a
        font-family: 'Gilroy'
        font-style: normal
        font-weight: 600
        font-size: 16px
        line-height: 19px
        color: $black
        &:hover
            font-family: 'Gilroy'
            font-style: normal
            font-weight: 600
            font-size: 16px !important
            line-height: 19px !important
            color: $purple
        &:focus
            font-family: 'Gilroy'
            font-style: normal
            font-weight: 600
            font-size: 16px !important
            line-height: 19px !important
            color: $purple
        &:active
            font-family: 'Gilroy'
            font-style: normal
            font-weight: 600
            font-size: 16px !important
            line-height: 19px !important
            color: $purple
@include min-screen(768px)
    .sm-clean 
        a
            padding: 0px
            padding-right: 23px
            &:hover
                padding: 0px
                padding-right: 23px
            &:active
                padding: 0px
                padding-right: 23px
            &:focus
                padding: 0px
                padding-right: 23px