.partners
    margin-top: -3px
    .flex
        align-items: center
        background: white
        height: 118px
        justify-content: space-between
        margin-left: -25px
        margin-right: -45px
            
