@include max-screen(1680px)
    .header
        .header__menu
            margin-left: 0px
            margin-right: 0px
    
@include max-screen(1600px)
    .container
        max-width: 1230px
        padding-left: 15px
        padding-right: 15px
    .read-block__company 
        .read-block__text
            font-size: 14px
            line-height: 28px
            max-width: 100%
    .read-block__services
        .read-block__text
            font-size: 14px
            line-height: 28px
            max-width: 100%
    .read-block 
        .flex 
            img
                margin-right: 20px
    #map-canvas
        max-width: 870px
    .about-company__img
        img
            max-width: 550px
    .services-company__block-two
        img
            max-width: 600px
    .contact-bg
        #map-canvas
            max-width: 800px
    .client__block-right 
        p
            margin-bottom: 40px
    .maps__img
        margin-right: 50px
    body
        .header
            margin-left: 20px
            margin-right: 20px
    .header__call
        min-width: 190px
    .header
        .header__menu
            margin-left: 10px
            margin-right: 10px
        .header__logo
            margin-right: 10px
    #main-menu
        li
            margin-bottom: 10px
@include max-screen(1440px)
    .read-block__company 
        .read-block__text
            font-size: 14px
            line-height: 24px
            max-width: 100%
    .read-block__services
        .read-block__text
            font-size: 14px
            line-height: 24px
            max-width: 100%
    .maps__branches
        max-width: 350px
    .attention__left 
        margin-left: 60px
    .read-block 
        .flex 
            img
                max-width: 693px
                width: 100%
                margin-right: 50px
    .services-company__block--left
        margin-left: 45px
    .multiple-items
        margin-right: 60px
@include max-screen(1400px)

@include max-screen(1366px)
    .attention__right
        margin-left: 48px
    .maps__img
        margin-right: 30px
@include max-screen(1280px)
    .attention__right
        margin-left: 0px
@include max-screen(1024px)
    #main-menu 
        li
            text-align: center
    .container
        max-width: 100%
        padding-left: 20px
        padding-right: 20px
    .attention
        .flex
            flex-direction: column
            justify-content: center
            align-items: center
    .partners
        .flex
            img
                margin-right: 25px
    .read-block
        .flex
            flex-direction: column
            img
                max-width: 100%
                margin-right: 0px
                margin-bottom: 20px
            .read-block__company
                margin-right: 0px
                .read-block__text
                    max-width: 100%
            .read-block__services
                margin-top: 20px
                .read-block__text
                    max-width: 100%
    .maps__img
        margin-right: 0px
    .maps
        .flex
            flex-direction: column
    .maps__branches
        margin-top: 20px
        max-width: 100%
        .flex
            flex-direction: row
    .header__menu
        width: 75%
        margin-left: 0px
        margin-right: 0px
    .about-company 
        .flex
            flex-direction: column
    .about-company__text
        max-width: 100%
        margin-right: 0px
    .about-company__img
        justify-content: center
        align-items: center
        display: flex
    .about-company__block 
        .about-company__text
            max-width: 100%
    .services 
        .flex
            flex-direction: column
    .services-company__block--left
        margin-left: 0px
    .services-company__block--right--flex
        padding-top: 20px
        padding-left: 80px
    .services-company__text
        padding-left: 80px
        max-width: 100%
        padding-top: 20px
    .services-company__block-two
        flex-direction: column
        p
            max-width: 100%
            margin-right: 0px
        img
            margin: 20px auto
    .client
        .flex
            flex-direction: column
    .client
        .flex-row
            flex-direction: row
            flex-wrap: wrap
            justify-content: space-between
            .client__file
                margin-right: 0px
    .client__block-left
        margin-right: 0px
    .client__block-right
        p
            margin-right: 0px 
            margin-bottom: 10px
@include max-screen(834px)
    .header__menu
        width: 45%
    .client .flex-row 
        .client__file
            max-width: 380px
@include max-screen(768px)
    .header__menu
        width: 35%
    .client .flex-row 
        .client__file
            max-width: 360px
@include max-screen(767px)

    .header
        flex-direction: column
        justify-content: center
        align-items: center
        .header__logo
            margin-right: 0px
        .header__text
            text-align: center
        .header__call 
            margin-top: 10px
            align-items: center
            .header__call-text
                margin-left: 20px
        .header__menu
            margin-right: 0px
            margin-left: 0px
            position: absolute
            width: 10%
            left: 10px
            top: 0px
    .fotter
        .flex
            flex-direction: column
            justify-content: center
            align-items: center
            .fotter__menu
                margin-right: 0px
                margin-left: 0px
                position: absolute
                width: 10%
                left: 10px
                margin-top: -15px
            .fotter__call
                margin-top: 10px
                align-items: center
                .fotter__call-text
                    margin-left: 20px
        .flex-dop
            flex-direction: column
            justify-content: center
            align-items: center
            span
                text-align: center
    .attention__left
        margin-top: 20px
    .attention__title-one
        font-size: 50px
        margin-left: 0px
        line-height: 53px
    .attention__title-two
        font-size: 50px
        line-height: 53px
        margin-left: 180px
    .attention__sub-title
        margin-top: 5px
        margin-left: 60px
    .attention
        .flex
            padding-left: 20px
            padding-right: 20px
    .attention__sub-title
        margin-left: 0px
        width: 100%
    .attention__left
        width: 100%
        margin-left: 0px
    .attention__right
        display: flex
        img
            max-width: 300px
            margin: 0 auto
    .partners
        margin-top: 0px
    .read-block
        margin-top: 20px
    .maps
        margin-top: 20px
    .about-company
        margin-top: 20px
    .about-company__img
        img
            max-width: 100%
    .services
        margin-top: 20px
    .services-company__title
        width: 100%
        margin-right: 0px
        span
            margin-right: 5px
    .services-company__text
        padding-left: 30px
    .services-company__block--right--flex
        padding-left: 30px
        flex-direction: column
    .services-company__text--left
        margin-right: 0px
    .client
        margin-top: 20px
    .client__block-left
        img
            max-width: 100%
    .vacancies__button
        flex-direction: column
        .dop-button
            margin-right: 0px
        .dop-button-vacancies
            margin-top: 10px
            height: 60px
            width: 292px
@include max-screen(375px)
    .attention__title-one
        font-size: 40px
        margin-left: 0px
        line-height: 45px
    .attention__title-two
        font-size: 40px
        line-height: 45px
        margin-left: 180px
    .attention
        .flex
            padding-left: 20px
            padding-right: 20px
    .attention__sub-title
        margin-left: 0px
        width: 100%
    .attention__left
        width: 100%
        margin-left: 0px
    .about-company__title 
        span
            margin-right: 5px
    .about-company__block 
        .about-company__text
            padding-left: 25px
    .client__file-title 
        span
            margin-right: 5px
    .client__file-donwload
        margin-left: 25px
    .client__file
        margin-top: 20px
@include max-screen(320px)
    .attention
        .flex
            padding-left: 20px
            padding-right: 20px
    .attention__title-one
        font-size: 35px
        margin-left: 0px
        line-height: 35px
    .attention__title-two
        font-size: 35px
        line-height: 35px
        margin-left: 145px
    .attention__sub-title
        margin-left: 0px
        width: 100%
    .attention__left
        width: 100%
        margin-left: 0px
    .maps__branches 
        .flex 
            .main-button
                width: 180px
        .maps__adress 
            padding-right: 15px
    .vacancies__button 
        .dop-button
            max-width: 292px
            width: 100%
        .dop-button-vacancies
            max-width: 292px
            width: 100%