.services
    margin-top: 127px
.services
	.flex
        margin-bottom: 47px
.services-company__block--left
    margin-left: 85px
.services-company__title
    width: 460px
    display: flex
    margin-right: 70px
    span
        margin-right: 61px
        color: $purple
        font-weight: 600
        font-size: 18px
        line-height: 21px
.services-company__text
    font-weight: normal
    font-size: 16px
    line-height: 32px
    max-width: 830px
.services-company__block--right--flex 
    display: flex
.services-company__text--left, .services-company__text--right
    font-weight: normal
    font-size: 16px
    line-height: 32px
    max-width: 472px
.services-company__text--left
    margin-right: 70px
.services-company__block-two
    display: flex
    margin-top: 25px
    p
        max-width: 800px
        font-weight: normal
        font-size: 16px
        line-height: 32px
        margin-right: 57px
    img
        max-width: 693px
        width: 100%
        max-height: 434px