.fotter
    .container
        .flex
            .fotter__logo
                a(href="/pages/index.html")
                    img(src="../img/logo_fotter.png")
            .fotter__menu
                nav(class="fotter-nav fotter-nav-dop" role="navigation")
                    input(id="fotter-menu-state" type="checkbox")
                    label.fotter-menu-btn(for="fotter-menu-state")
                        span.fotter-menu-btn-icon Toggle fotter menu visibility
                    ul(id="fotter-menu" class="sm sm-clean")
                        li
                            a(href="/pages") Главная
                            a(href="/pages/company.html") О компании
                            a(href="/pages/services.html") Услуги
                        li
                            a(href="/pages/branchials.html") Филиалы
                            a(href="/pages/client.html") Для клиентов
                            a(href="/pages/contact.html") Контакты
                        li
                            a(href="/pages/company.html") Сервис-деск
                            a(href="/pages/vacancies.html") Вакансии
                            a(href="/pages/sertificate.html") Сертификаты
            .fotter__call
                a(href="tel:+7­4959265808")
                    img(src="../img/phone.svg")
                    .header__call-phone +7­(495) 926­-58-08
                a.fotter__call-text(href="#contact-popup_2" id="pop_2") Обратный звонок
                .white-popup(class="mfp-hide" id="contact-popup_2")
                    .maps__pop
                        .white-popup__title Обратная связь
                        .white-popup__subtitle Введите Ваши данные и мы Вам перезвоним
                        span.flex
                            input.text__1(type="text" value="Ваше имя")
                            input.tel(type="tel" value="Телефон")
                        textarea.text__2(name="", cols="30", rows="10") Сообщение
                        a.white-popup__btn Отправить
                        .white-popup__text *Нажимая на кнопку, вы даете согласие на обработку своих<br><span>персональных данных</span>
        .flex-dop
            span © ТМ-Сервис 2012 - 2021. Все права защищены.
            a.fotter__politics(href="#") Политика конфиденциальности