.fotter
    .container
        .flex
            .fotter__logo
                a(href="#")
                    img(src="../img/logo_fotter.png")
            .fotter__menu
                nav(class="fotter-nav fotter-nav-dop" role="navigation")
                    input(id="fotter-menu-state" type="checkbox")
                    label.fotter-menu-btn(for="fotter-menu-state")
                        span.fotter-menu-btn-icon Toggle fotter menu visibility
                    ul(id="fotter-menu" class="sm sm-clean")
                        li
                            a(href="#") Главная
                            a(href="#") О компании
                            a(href="#") Услуги
                        li
                            a(href="#") Филиалы
                            a(href="#") Для клиентов
                            a(href="#") Контакты
                        li
                            a(href="#") Сервис-деск
                            a(href="#") Вакансии
                            a(href="#") Сертификаты
            .fotter__call
                a(href="#")
                    img(src="../img/phone.svg")
                    .header__call-phone +7­(495) 926­-58-08
                a.fotter__call-text(href="#") Обратный звонок
        .flex-dop
            span © ТМ-Сервис 2012 - 2021. Все права защищены.
            a.fotter__politics(href="#") Политика конфиденциальности