.header
    a.header__logo(href="#")
        img(src="../img/logo.png")
    .header__text Квалифицированная сервисная поддержка банковского оборудования
    .header__menu
        nav(class="main-nav main-nav-dop" role="navigation")
            input(id="main-menu-state" type="checkbox")
            label.main-menu-btn(for="main-menu-state")
                span.main-menu-btn-icon Toggle main menu visibility
            ul(id="main-menu" class="sm sm-clean")
                li
                    a(href="#") Главная
                li
                    a(href="#") О компании
                li
                    a(href="#") Услуги
                li
                    a(href="#") Филиалы
                li
                    a(href="#") Для клиентов
                li
                    a(href="#") Контакты
                li
                    a(href="#") Сервис-деск
                li
                    a(href="#") Вакансии
                li
                    a(href="#") Сертификаты
    .header__call
        a(href="#")
            img(src="../img/phone.svg")
            .header__call-phone +7­(495) 926­-58-08
        a.header__call-text(href="#") Обратный звонок

