- var img = '../img/';

doctype
html
	include blocks/head.pug
		title
	body
		include blocks/header.pug

		main.page-container
			//- тут все блоки страницы кроме шапки и подвала
			.wtf man
		include blocks/footer.pug
		include blocks/scripts.pug