

doctype
html
	include blocks/head.pug
		title
	body
		
		main.page-container
			.sertificate-bg
				include blocks/header.pug
				.container
					.crumbs
						.flex
							a(href="/pages") Главная
							.crumbs__cirle
							a(href="#") Сертификаты
					.sertificate
						.sertificate__buttons 
							.arrow_prev
								<svg width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.292893 7.29289C-0.0976314 7.68342 -0.0976315 8.31658 0.292893 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538407 7.04738 0.538407 6.65685 0.928932L0.292893 7.29289ZM12 7L1 7L1 9L12 9L12 7Z" fill="#BFCEF4"/></svg>
							.arrow_next 
								<svg width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.7071 7.29289C12.0976 7.68342 12.0976 8.31658 11.7071 8.70711L5.34315 15.0711C4.95262 15.4616 4.31946 15.4616 3.92893 15.0711C3.53841 14.6805 3.53841 14.0474 3.92893 13.6569L9.58579 8L3.92893 2.34315C3.53841 1.95262 3.53841 1.31946 3.92893 0.928932C4.31946 0.538407 4.95262 0.538407 5.34315 0.928932L11.7071 7.29289ZM-8.74228e-08 7L11 7L11 9L8.74228e-08 9L-8.74228e-08 7Z" fill="#BFCEF4"/></svg>
						.multiple-items
							.slide
								img(src="../img/Rectangle 25.png")
							.slide
								img(src="../img/Rectangle 25.png")
							.slide
								img(src="../img/Rectangle 25.png")
							.slide
								img(src="../img/Rectangle 25.png")
							.slide
								img(src="../img/Rectangle 25.png")
							.slide
								img(src="../img/Rectangle 25.png")
							.slide
								img(src="../img/Rectangle 25.png")
							.slide
								img(src="../img/Rectangle 25.png")
					.maps
						.flex
							.maps__img
								<div id="map-canvas"></div>
							.maps__branches
								.flex
									a.main-title(href="") /Филиалы
									a.main-button(href="") Посмотреть все
										<svg width="13" height="16" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.7071 8.70711C13.0976 8.31658 13.0976 7.68342 12.7071 7.29289L6.34315 0.928932C5.95262 0.538408 5.31946 0.538408 4.92893 0.928932C4.53841 1.31946 4.53841 1.95262 4.92893 2.34315L10.5858 8L4.92893 13.6569C4.53841 14.0474 4.53841 14.6805 4.92893 15.0711C5.31946 15.4616 5.95262 15.4616 6.34315 15.0711L12.7071 8.70711ZM0 9H12V7H0V9Z" fill="#A1B2DC"/></svg>
								.maps__adress 
									.maps__adress-title
										<svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 0C3.865 0 0.5 3.38833 0.5 7.55417C0.5 13.4733 7.295 19.585 7.58417 19.8417C7.70333 19.9475 7.85167 20 8 20C8.14833 20 8.29667 19.9475 8.41583 19.8425C8.705 19.585 15.5 13.4733 15.5 7.55417C15.5 3.38833 12.135 0 8 0ZM8 11.6667C5.7025 11.6667 3.83333 9.7975 3.83333 7.5C3.83333 5.2025 5.7025 3.33333 8 3.33333C10.2975 3.33333 12.1667 5.2025 12.1667 7.5C12.1667 9.7975 10.2975 11.6667 8 11.6667Z" fill="black"/></svg>
										span /Хабаровск
									.maps__adress-street ул. Дубнинская, д.83
									.maps__adress-phone
										span +7­(495) 926­-58-08
										a.maps__link(href="#map-canvas" data-lat="48.48706394794974" data-long="135.08732869925828" data-zoom="10") на карте
									.main-hr
									.maps__adress-title
										<svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 0C3.865 0 0.5 3.38833 0.5 7.55417C0.5 13.4733 7.295 19.585 7.58417 19.8417C7.70333 19.9475 7.85167 20 8 20C8.14833 20 8.29667 19.9475 8.41583 19.8425C8.705 19.585 15.5 13.4733 15.5 7.55417C15.5 3.38833 12.135 0 8 0ZM8 11.6667C5.7025 11.6667 3.83333 9.7975 3.83333 7.5C3.83333 5.2025 5.7025 3.33333 8 3.33333C10.2975 3.33333 12.1667 5.2025 12.1667 7.5C12.1667 9.7975 10.2975 11.6667 8 11.6667Z" fill="black"/></svg>
										span /Хабаровск
									.maps__adress-street ул. Дубнинская, д.83
									.maps__adress-phone
										span +7­(495) 926­-58-08
										a.maps__link(href="#map-canvas" data-lat="48.48706394794974" data-long="135.08732869925828" data-zoom="10") на карте
									.main-hr
									.maps__adress-title
										<svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 0C3.865 0 0.5 3.38833 0.5 7.55417C0.5 13.4733 7.295 19.585 7.58417 19.8417C7.70333 19.9475 7.85167 20 8 20C8.14833 20 8.29667 19.9475 8.41583 19.8425C8.705 19.585 15.5 13.4733 15.5 7.55417C15.5 3.38833 12.135 0 8 0ZM8 11.6667C5.7025 11.6667 3.83333 9.7975 3.83333 7.5C3.83333 5.2025 5.7025 3.33333 8 3.33333C10.2975 3.33333 12.1667 5.2025 12.1667 7.5C12.1667 9.7975 10.2975 11.6667 8 11.6667Z" fill="black"/></svg>
										span /Хабаровск
									.maps__adress-street ул. Дубнинская, д.83
									.maps__adress-phone
										span +7­(495) 926­-58-08
										a.maps__link(href="#map-canvas" data-lat="48.48706394794974" data-long="135.08732869925828" data-zoom="10") на карте
									.main-hr
									.maps__adress-title
										<svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 0C3.865 0 0.5 3.38833 0.5 7.55417C0.5 13.4733 7.295 19.585 7.58417 19.8417C7.70333 19.9475 7.85167 20 8 20C8.14833 20 8.29667 19.9475 8.41583 19.8425C8.705 19.585 15.5 13.4733 15.5 7.55417C15.5 3.38833 12.135 0 8 0ZM8 11.6667C5.7025 11.6667 3.83333 9.7975 3.83333 7.5C3.83333 5.2025 5.7025 3.33333 8 3.33333C10.2975 3.33333 12.1667 5.2025 12.1667 7.5C12.1667 9.7975 10.2975 11.6667 8 11.6667Z" fill="black"/></svg>
										span /Хабаровск
									.maps__adress-street ул. Дубнинская, д.83
									.maps__adress-phone
										span +7­(495) 926­-58-08
										a.maps__link(href="#map-canvas" data-lat="48.48706394794974" data-long="135.08732869925828" data-zoom="10") на карте
									.main-hr
									.maps__adress-title
										<svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 0C3.865 0 0.5 3.38833 0.5 7.55417C0.5 13.4733 7.295 19.585 7.58417 19.8417C7.70333 19.9475 7.85167 20 8 20C8.14833 20 8.29667 19.9475 8.41583 19.8425C8.705 19.585 15.5 13.4733 15.5 7.55417C15.5 3.38833 12.135 0 8 0ZM8 11.6667C5.7025 11.6667 3.83333 9.7975 3.83333 7.5C3.83333 5.2025 5.7025 3.33333 8 3.33333C10.2975 3.33333 12.1667 5.2025 12.1667 7.5C12.1667 9.7975 10.2975 11.6667 8 11.6667Z" fill="black"/></svg>
										span /Хабаровск
									.maps__adress-street ул. Дубнинская, д.83
									.maps__adress-phone
										span +7­(495) 926­-58-08
										a.maps__link(href="#map-canvas" data-lat="48.48706394794974" data-long="135.08732869925828" data-zoom="10") на карте
									.main-hr

						

				include blocks/footer.pug
		include blocks/scripts.pug